@font-face {
    font-family: Roboto; /* ָל רנטפעא */
    src: url(font/RobotoSlab-Regular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: Roboto-Light; /* ָל רנטפעא */
    src: url(font/RobotoSlab-Light.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: Roboto-Bold; /* ָל רנטפעא */
    src: url(font/roboto-bold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: Roboto-Regular; /* ָל רנטפעא */
    src: url(font/RobotoSlab-Regular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: Roboto-Medium; /* ָל רנטפעא */
    src: url(font/Roboto-Medium.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: Roboto-LightItalic; /* ָל רנטפעא */
    src: url(font/Roboto-LightItalic.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

html{
    width: 100%;
    height: 100%;
}

body{

    width: 100%;
    height: 100%;
    margin: 0;
}

#wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.footer{
    height: auto;
    position: relative;
    background-color: #ffffff;
}
.footer_support{
    text-align: center;
    color: #a9a8a8;
    font-family: Roboto-Regular;
    font-size: 16px;
    margin-top: 50px;
}
.footer_copy{
    font-family: Roboto-Light;
    font-size: 16px;
    color: #a9a8a8;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.link{
    margin-left: 50px;
    color: #a9a8a8;
}
.empty{
    height: 125px;
}
.empty1{
    background-color: #f8f8f8;
    height: 40px;
}
ul{ padding: 0;  margin: 0;
}
li{
    margin-right: 5px;
    list-style-type: none;
    display: inline;
}
p{margin: 0; margin: 0;}
a{text-decoration: none;  }
*{
    box-sizing : border-box;
}

#header{
    width: 100%;
    height: 70px;
    margin: 0;
    display: table;
    background: rgba(114,87,85,0.5);


}
#header_logo{

    float:left;
    width: 17%;
    height: 70px;
    margin-left: 120px ;


}
#header_logo_img{
    width: 50px;
    height: 50px;
    float: left;
    background: url("images/fashion.png")  no-repeat;
    margin-top: 20px;

}
#header_name_company{
    float: left;
    margin-left: -15px;
    font-size: 22px;
    line-height: 50px;
    color: #fff;
    margin-top: 9px;
    font-family: Roboto;
}
#header_soc{
    float:right;
    width: 15%;
    height: 70px;
    margin-right: 80px;
}
#faces{
    width: 26px;
    height: 26px;
    float: right;
    background: url("images/social.png")  no-repeat;
    margin-top: 20px;
    display: flex;
    flex-direction: row;


}
#twiter{
    width: 26px;
    height: 26px;
    float: right;
    background: url("images/social-1.png")  no-repeat;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left:20px ;
}
#vk{
    width: 26px;
    height: 26px;
    float: right;
    background: url("images/social-media.png")  no-repeat;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left:20px ;
}
#header_menu{
    width: 100%;

    margin-top: 20px;

}
.header_link{
    color: white;
    margin-top: 30px;
    font-size: 17px;
    font-family: Roboto;

}
.index_font{
    border: none;
  background: url("images/body.jpg");
    height: 100%;
}
.index1{
    color: white;
    margin-top: 264px;
    font-size: 34px;
    font-family: Roboto-Medium;
}
.index2{
    color: white;
    font-size: 21px;
    font-family: Roboto-Light;
}
.podrop {
    color: #f05447;
    background-color: #d4d0d1;
    border: none;
    font-family: Roboto-Bold;
    font-size: 22px;
    height: 57px;
    width: 250px;

}
.down{

    margin: auto;


}
#arrows{
    white: 60px;
    height: 30px;
    background: url("images/arrows.png") no-repeat;
    margin-top: 50px;
    margin-left: 48.5%;

}
.zakaz {
    color: #f2f2f2;
    background-color: #f05447;
    border: none;
    font-family: Roboto-Bold;
    font-size: 22px;
    height: 57px;
    width: 250px;
    margin-left: 20px;
}
.zakaz1 {
    color: #f2f2f2;
    background-color: #f05447;
    border: none;
    font-family: Roboto-Bold;
    font-size: 22px;
    height: 57px;
    width: 250px;
    margin-left: 20px;
}
.button_indexz{
    text-align: center;
    margin-top: 40px;
}
.button_index{
    margin-top: 70px;
}
.index_content {
    height: 955px;
    width: 100%;
    border: none;
    top: 0px;
    z-index: -1;
    background-size: 100%;
    left: 0;
    background-position: center center;
}
#onas{
    background: white;
}
#vonas{
    background: #f8f8f8}
.p1{
    font-size: 24px;
    font-family: Roboto-Medium;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
}
.p2{
    font-size: 13px;
    font-family: Roboto-Light;
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 30px;
}
.p3{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}
.p4{
    font-size: 24px;
    font-family: Roboto-Medium;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    color: #545454;
}
.p5{
    font-size: 14px;
    font-family: Roboto-Light;
    margin-left: 15%;
    margin-right: 55%;
    margin-top: 40px;
    color: #707070;
}
.p6{
     font-size: 14px;
     font-family: Roboto-Medium;
     color: #545454;
     margin-top: -160px;
     margin-right: 15%;
     margin-left: 45%;
 }
.p7{
    font-size: 14px;
    font-family: Roboto-Medium;
    color: #545454;
    margin-top: -60px;
    margin-right: 15%;
    margin-left: 45%;
}
.infoimg{
    margin-left: 45%;
    margin-top: -180px;
}
#person1{
    background: url("images/Rectangle2.png")  no-repeat;
    height: 346px;
    width: 263px;
}
.person1{
    margin-right: 15px;

}
#person11{
    border: 2px solid rgba(241,241,241,1);
    width: 193px;
    height: 115px;
    background: #fff;
    float: left;
    margin-right: 19px;
    margin-top: -15px;
    color: #5da5e9;
    text-align: center;
}
#person12{
    border: 2px solid rgba(241,241,241,1);
    width: 193px;
    height: 115px;
    background: #fff;
    float: left;
    margin-right: 19px;
    margin-top: -15px;
    color: #5da5e9;
    text-align: center;
}
#person13{
    border: 2px solid rgba(241,241,241,1);
    width: 408px;
    height: 115px;
    background: #fff;
    float: left;
    margin-right: 19px;
    margin-top: -15px;
    color: #5da5e9;
    text-align: center;
}
.person1a{
    margin-top: 35px;
    color: black;
    font-family: Roboto-Medium;
}
.person1b{
    margin-top: 8px;
    color: #a9a1a8;
    font-family: Roboto-LightItalic;
}
#info{
    width: 100%;
    height: 135px;
    margin-top: 150px;
}
.info_1{
    background-color: #f05447;
    height: 135px;
    width: 336px;
    float: left;
    text-align: center;
}
.info_2{
    background-color: #f2645a;
    height: 135px;
    width: 336px;
    float: left;
    text-align: center;
}
.info_3{
    background-color: #f4756d;
    height: 135px;
    width: 336px;
    float: left;
    text-align: center;
}
.info_4{
    background-color: #f5867f;
    height: 135px;
    width: 338px;
    float: left;
    text-align: center;
}
.info_1a {
    margin-top: 30px;
    text-align: center;
    color: #f5f3f3;
    font-family: Roboto-Light;
    font-size: 35px;
}
.info_1b{
    margin-top: 5px;
    text-align: center;
    color: #f5f3f3;
    font-family: Roboto-Medium;
    font-size: 14px;
}
.vnas{
    margin-top: 45px;
    color: #3f3f3f;
    font-size: 30px;
    font-family: Roboto-Medium;

}
.tablica {
    display: table;
    margin-left: 15%;
    margin-top: 70px;

}
.tablica1 {
    display: table;
    margin-left: 15%;
    margin-bottom: 20px;
    margin-top: 20px;

}

.yacheika {
    float: left;
    margin-left: 10px;
    border:1px solid #e6e5e5;
    display: table-cell;
    padding: 10px;
    width: 280px;
    height: 280px;
    background-color: #ffffff;
    text-align: center;
}
.block1{
    margin-top: 20px;
}
.block1t{
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #6d6b6b;
    margin-top: 20px;
}
.block1ta{
    font-family: Roboto-Light;
    font-size: 10px;
    color: #a9a8a8;
    margin-top: 20px;
}
.what{
    margin-top: 300px;
}
section {
    padding: 100px 0;
    text-shadow: none;
    background: #ffffff;
}
.about{
    font-family: Roboto-Medium;
    font-size: 25px;
    color: #3f3f3f;
    text-align: center;
    margin-top: -30px;
}
.about1{
    font-family: Roboto-Medium;
    font-size: 25px;
    color: #3f3f3f;
    text-align: center;
    margin-top: 45px;
}
.aboutfoto{
    display: table;
    margin-left: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.aboutfoto1{

    display: table;
    margin-left: 15%;
    margin-bottom: 20px;
    margin-top: -25px;
}


.yacheikaabout {
    display: table-cell;
    margin-left: 20%;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
}
.whatworks{
    background-color: #f8f8f8;
    font-family: Roboto-Medium;
    font-size: 25px;
    color: #3f3f3f;
    text-align: center;
    margin-top: -90px;
}
.aboutfoto2{

    display: table;
    margin-left: 16%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.workswho{
    background-color: #f8f8f8;
    display: table;
    margin-left: 15%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.yacheikaworks {
    display: table-cell;
    margin-left: 40px;
    padding: 10px;
    background-color: #f8f8f8;
    text-align: center;
}
.workstext{
    font-size: 15px;
    font-family: Roboto-Medium;
    color: #6d6b6b;
}
#b{
    background-color: #ffffff;
    height: auto;
    padding: 20px;
}
#g{
    background-color: #ffffff;
    height: auto;
    padding: 20px;
}
#o{
    background-color: #f8f8f8;
    height: auto;
    padding: 20px;
}
#otziv{
    padding: 40px;
    font-family: Roboto-Medium;
    font-size: 25px;
    color: #3f3f3f;
    text-align: center;
    margin-top: -30px;

}

#blog{
    padding: 40px;
    font-family: Roboto-Medium;
    font-size: 25px;
    color: #3f3f3f;
    text-align: center;
    margin-top: -30px;
    background-color: #ffffff;
}
#r{
    margin-top: -20px;
    width: 50px;
    height: 4px;
    background: url("images/Rectangle.png") no-repeat;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 48%;
}
#tableblog{
    display: table;
    margin-left: 10%;
    margin-top: 70px;
}
#blockblog{
    float: left;
    margin-left: 20px;
    border:1px solid #e6e5e5;
    display: table-cell;
    padding: 10px;
    width: 340px;
    height: 480px;
    background-color: #ffffff;
    text-align: center;
}
#blockblogimg1{
    width: 340px;
    height: 250px;
    background: url("images/blog/1.png") no-repeat;
    margin-left: -11px;
    margin-top: -10px;
}
#blockblogimg2{
    width: 340px;
    height: 250px;
    background: url("images/blog/2.png") no-repeat;
    margin-left: -11px;
    margin-top: -10px;
}
#blockblogimg3{
    width: 340px;
    height: 250px;
    background: url("images/blog/3.png") no-repeat;
    margin-left: -11px;
    margin-top: -10px;
}
.text1{
    font-size: 18px;
    font-family: Roboto-Medium;
    color: #f05447;
    margin-top: 30px;
}
.text2{
    margin-top: 10px;
    font-family: Roboto;
    color: #bdbdbd;
    font-size: 12px;
}
.text3{
    font-family: Roboto-Light;
    font-size: 16px;
    margin-top: 20px;
}
.text4{
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #eb7e76;
    margin-top: 15px;
    margin-left: -150px;
}
#page{
    text-align: center;
    padding: 30px;
}
#yachey {
    display: table-cell;
    margin-left: 20%;
    padding: 10px;
    text-align: center;
}
#yacheyimg1{
    width: 253px;
    height: 253px;
    background: url("images/otziv/1.png") no-repeat;
}
#yacheyimg2{
    width: 253px;
    height: 253px;
    background: url("images/otziv/2.png") no-repeat;
}
#yacheyimg3{
    width: 253px;
    height: 253px;
    background: url("images/otziv/3.png") no-repeat;
}
#yacheyimg4{
    width: 253px;
    height: 253px;
    background: url("images/otziv/4.png") no-repeat;
}
.otext{
    font-family: Roboto-Bold;
    font-size: 18px;
    color: #f05447;
    margin-top: 15px;
}
.otzivt{
    display: table;
    margin-left: 10%;
    margin-bottom: 20px;
}
.textotziv{
    font-size: 12px;
    font-family: Roboto-Light;
    color: #6d6b6b;
    margin-top: 12px;
}
#toTop {
    width:100px;
    border:solid 3px #ff0000;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* מעסעףן ךםמןךט מע םטזםודמ ךנא סענאםטצ*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;

}

#conteyner{

    display: table-cell;
    text-align: center;

}
#text1{
    margin-top: 25px;
    margin-left: 15%;
    font-family: Roboto-Light;
    font-size: 20px;
    color: #6d6b6b;
    width: 360px;
    height: 60px;
}
#gold{
    margin-left: 45%;
    width: 130px;
    height: 130px;
    background: url("images/Golden.png") no-repeat;
}
#text2{
    margin-left: 60 %;
    font-family: Roboto-Light;
    font-size: 20px;
    color: #6d6b6b;
    width: 360px;
    height: 60px;
}